@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,500&display=swap');

.preloader{
  width:100%;
  height:100vh;
  background: #d4d0d0;
}
.preloader-logo{
  display:flex;
  align-items:center;
  justify-content: center;
  padding-top: 250px;
  position: relative;
}
.preloader-logo img{
 width:150px;
}
@media(max-width:600px){
  .preloader-logo img{
    width:100px;
   }
   
}
.preloader-logo .popping-line{
position: absolute;
bottom: 2px;
width:15%;
height:2px;
animation: popping  3s infinite linear;
}
@keyframes popping{
  from {
    transform: translateX(30px);
    background-color: red;
  }
  to{
    transform: translateY(30px);
    background-color: blue;
  } 
}

*{
    margin:0;
    padding:0;
    
}
body{
  font-family: 'Poppins',sans-serif;
}
:root{
    --swiper-navigation-size: 30px !important;
    --swiper-theme-color: #000 !important;
}


.my-carousel{
    width:100%;
    height: 550px;
    object-fit: cover;
}
.carousel-div{
    position: absolute;
    top: 0px;
    z-index: 99;  
   
}
.carousel-text-div{
    display:flex;
    padding-top:20px;
}

.logo{
    margin-left: 90px;
}
.nav-text{
    display:flex;
    margin-left: 220px;
    color:#fff;
    gap:29px;
    margin-top: 15px;
    font-size: 17px;
}
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
 
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: rgb(34, 33, 33);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {
  display: block;
  background: #ffff;
}

.button-div{
    margin-left: 250px;
    margin-top: 10px;
}
.button-div button{
    width:80px;
    height:30px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color:#fff;
}
.button-div .button-one{
    background: blue;
}
.button-div .button-two{
    background: transparent;
    border:1px solid #fff;
}
.carousel-main-text{
    margin-top: 100px;
    margin-left: 90px;
    color:#fff;
}
.carousel-main-text h1{
font-size:45px;
}
.carousel-main-text p{
    font-size:18px;
    color:#fff;
    
    }
.carousel-main-text button{
    width:95px;
    height:40px;
    border: none;
    background: blue;
    color:#fff;
    margin-top: 30px;
    border-radius: 5px;
}
.swiper, swiper-container .swiper-button-next, .swiper-button-prev{
    background: #FFF !important;
    padding: 15px !important;
}


.sub-container-two{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-two{
    text-align: center;
}
.page-two h1{
    margin-bottom: 20px;
}
.page-two-flex{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:100px;
    margin-top: 50px;
}
.circle{
    width:50px;
    height:50px;
    border-radius: 100px;
    position: relative;
    background: rgb(216, 216, 248);
    display:block;
    margin: auto;
}
.font{
    font-size:25px;
    position:absolute;
    left:10px;
    top:13px;
    color:blue;

}
.font-two{
  font-size:25px;
  position:absolute;
  left:12px;
  top:13px;
  color:blue;

}
.center-p{
    text-align: center;
}

.sub-container-three{
    background: rgb(230, 227, 227);
    padding-bottom:50px;

}
.games-container-one{
  padding:30px 0;
  }

.games-genre{
    display:flex;
    justify-content: space-between;
}
.games-genre h1{
    font-size: 30px;
    margin-left:100px;
}
.games-genre p{
    color:blue;
    margin-right:100px;
    font-size: 18px;
}
.games-images-div{
    margin-top:25px;
    display:flex;
    gap:40px;
    justify-content: center;
    align-items: center;
}
.images-div{
    position:relative;
}
.images-div img{
width:130px;
border-radius: 15px;
position:relative;
transition: ease-in-out .2s;
}

.images-div img:hover{
    transform:scale(1.1,1.1);
    cursor:pointer;
   
     }

     .hover-p{
        position:absolute;
        top:55px;
        left:45px;
        color:#ffff;
        font-size: 18px;
        display:none;
        transition: ease-in-out .2s;
    }

    .move{
      position:absolute;
        top:55px;
        left:30px;
        color:#ffff;
        font-size: 18px;
        display:none;
        transition: ease-in-out .2s;
    }
    .move-pee{
      position:absolute;
        top:55px;
        left:35px;
        color:#ffff;
        font-size: 18px;
        display:none;
        transition: ease-in-out .2s;
    }
    .hover-pee{
      position:absolute;
        top:48px;
        left:32px;
        color:#ffff;
        font-size: 18px;
        display:none;
        transition: ease-in-out .2s;
    }
    .images-div img:hover + .hover-p {
       display:block;
         }
         .images-div img:hover + .hover-pee {
          display:block;
            }
         .images-div img:hover + .move {
          display:block;
            }
            .images-div img:hover + .move-pee {
              display:block;
                }
         .hover-p:hover{
          display: block;
          cursor: pointer;
         }
         .hover-pee:hover{
          display: block;
          cursor: pointer;
         }
         .move:hover{
          display: block;
          cursor: pointer;
         }
         .move-pee:hover{
          display: block;
          cursor: pointer;
         }


         .Best-Seller-Games{
            margin-top: 50px; 
            margin-bottom: 70px;
         }
         .Best-Seller-Games .align-move {
          font-size:28px;
          margin-left: 100px;
         
         }  
         .best-seller-div{
            display:flex;
            margin-top: 30px;
            align-items: center;
            justify-content: center;
            gap:85px;
            flex-wrap: wrap;  
         }

         .bs-one{
            width:175px;
            height:230px;
            box-shadow: 3px 3px 3px 3px #ffff;
            background: #fff; 
            padding-bottom:10px;
         } 
         .image-bs-one{
           width:160px;
           display:block;
           margin: auto;
           padding: 10px;
         }
         .bs-one p{
          margin-left:6px;
          margin-bottom: 6px;
         }
         .p-flex{
            display:flex;
            gap:10px;
            justify-content: space-between;
         }
         .p-flex .big-pee{
            font-size: 13px;
            color:blue;
            margin-top: 2px;
         }
         .games-button-one{
            display:flex;
            justify-content: center;
            align-items: center;
               margin-right:9px;
            
         }
         .games-button-one button{
            background: rgb(252, 172, 185);
            width:26px;
            height:15px;
            font-size:10px;
            color:rgb(243, 82, 82);
            border:none;
            padding: 1.5px;

         }
         .games-button-one p{
            font-size:12px !important;
            color:black !important;
            text-decoration: line-through;
            background: rgb(252, 248, 248);
            margin-top: 3px;
         }
         .background-blue-pee{
            font-size: 14px;
            background: rgb(215, 215, 250);
            width:120px;
            height:18px;
            border-radius: 4px;
            padding:3px;
            color:blue;
         }
         .last-pee{
            font-size: 13px;
            color:blue;
            margin-top: 10px;
         }
         
            
        .popular-games-flex{
            display:flex;
            justify-content: space-between;
        } 
        .popular-games-flex h1{
            font-size: 32px;
            margin-left: 100px;
        }
        .popular-games-flex p{
            font-size: 20px;
            color:blue;
            margin-right: 100px;
        }
      

           .div-container-four{
            background: #000;
            padding-top:50px;
            padding-bottom: 50px;
           }    
      .container-four-flex{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:15px;
        flex-wrap: wrap;
      }
      .H-one{
        color:#fff;
        margin-left:180px;
        margin-bottom: 30px;
      }
      .img-four-div{
        position:relative;
        
      }
    
      .img-four{
        width:550px; 
        height:260px;
        position: relative;
      }
      
      
      .img-four-text{
        position:absolute;
        top:150px;
        left:20px;
        
      }
      
      .img-four-text p{
        color:#ffff;
        font-size:19px;
      }
      
      .img-four-two{
        width:320px;
        height:165px;
        object-fit:cover;
        margin-bottom: 8px;
    
      }
      .img-four-text-two{
        position:absolute;
        top:60px;
        left:40px;
       
      }
      .img-four-text-two p{
        color:#ffff;
        font-size:19px;
      }
      .four-pee-one{
        margin-bottom: 14px;
      }
      .four-pee-two{

        width:120px;
        height:25px;
        border-radius: 4px;
        background: transparent;
        border:1px solid #fff;
        font-size: 14px !important;
        display: flex;
        align-items: center;
        justify-content: center; 
      }
      .container-five{
        padding-top: 40px;
        margin-bottom: 150px;
       
      }
      .container-five-text{
        text-align: center;
      }
      .container-five-pee{
        margin-top: 13px;
      }
         .carousel-five-flex{
            display:flex;
            align-items: center;
            justify-content: center;
            gap:10px;
            margin-top: 40px;
         }
      .carousel-five{
        width:280px;
        height:270px;
        border-radius: 5px;
        box-shadow: 6px 10px 5px 5px #f8f7f7;
        
      }
      .card-five-text{
        text-align: center;
        margin-top:30px;
      }
      .container-five-mobile{
        display:none;
        margin-top: 50px;
        margin-bottom: 40px;
      }
      .container-five-mobile .container-five-text{
           text-align: center;
      }
      .container-five-mobile .container-five-pee{
        font-size: 15px;
   }

      .container-five-mobile .carousel-five{
          width:350px;
          height:270px;
          border-radius: 5px;
          box-shadow: 6px 10px 5px 5px #f8f7f7;
          margin: auto;
          display: block;
          
        }
      
      .six-flex-div{
        display:flex;
        justify-content: space-evenly;
        margin-bottom: 40px;
        flex-wrap: wrap;
        
      }
      .container-six{
        background: #000;
        
      }
      .six-flex-two{
        color:rgb(146, 138, 138);
        
      }
      .six-flex-two p{
        margin: 20px 0 20px 0;
      }
      
      .color-six-white{
        color:#ffff
      }
      .h-r{
        border-color:rgb(80, 70, 70);

      }
      footer{
        color:rgb(146, 138, 138);
        text-align: center;
        padding-bottom: 23px;
        padding-top: 20px;
        
      }
      .six-flex-one,.six-flex-three{
        margin-top: 40px;
      }
      .fonts-six-div{
        display:flex;
        gap:5px;
      }
      .fonts-six{
        width:50px;
        height: 50px;
        border-radius: 100%;
        background: #fcfbfb0d;
        position: relative;
      }
      .fonts{
        position:absolute;
        top: 15px;
        left:15px;
        color:gray;
        font-size: 20px;
      
      }

      @media(max-width:1200px){
  
        .nav-text{
          display:none;
        }
        .button-div{
          margin-left: 570px;
         
        }
        .my-carousel{
          height: 500px;
         
        }
        }
        @media(max-width:600px){
          .logo{
            margin-left: 20px;
        }
        .logo img{
          width:100px;
        }
        .nav-text{
         display:none;
        }
        .button-div{
          margin-left: 130px;
         
        }
        .button-div button{
          width:70px;
          height:25px;
          margin: 3px;
        }
        .carousel-main-text{
          margin-top: 110px;
        }
        .carousel-main-text h1{
          font-size:40px;
          }
          .carousel-main-text p{
              font-size:15px;
              
              }
          .carousel-main-text button{
              width:80px;
              height:35px;
          }
        }
        @media(max-width:600px){
          .page-two-flex{
           flex-direction:column ;
           gap:30px;
        }
        .center-p{
         font-size: 14px;
        }
        }
        @media(max-width:600px){
  
          .games-genre{
              display:flex;
              align-items: center;
              justify-content: center;
              gap:150px;
          }
          .games-genre h1{
            font-size: 17px;
            margin-left:0px;
          }
          .games-genre p{
            margin-right:0px;
            font-size: 12px;
          }
          
          .games-images-div{
            gap:12px;
            overflow-x: scroll;
            padding: 0 30px;
            padding-left: 100px;
           
          }
          .images-div img{
          width:120px;
          }
          .hover-p{
            top:50px;
            left:40px;
            color:#ffff;
            font-size: 16px;
            display:none;
          }
          .images-div img:hover{
            transform:scale(1.0,1.0);
            cursor:pointer;
             }
          }
          @media(max-width:600px){
            .Best-Seller-Games .align-move {
              font-size:20px;
              margin-left: 10px;
             }
          .popular-games-flex{
            margin-top: 50px;
            align-items: center;
            justify-content: center;
            gap:100px;
        } 
        .popular-games-flex h1{
            font-size: 18px;
            margin-left: 0px;
        }
        .popular-games-flex p{
            font-size: 13px;
            margin-right: 0px;
        }
       .pg-one .best-seller-div{
          flex-wrap: wrap;
          gap:20px;
        }
        .pg-two .best-seller-div{
          flex-wrap: wrap;
          gap:20px;
        }
          }
          @media(max-width:600px){
            .div-container-four{
              padding-top:20px;
              padding-bottom: 50px;
             }  
             .H-one{
            margin: auto;
            display: block;
            text-align: center;
            padding-bottom: 20px;
            } 
        
        .img-four{
          width:350px; 
          height:260px;
          
        }
        .img-four-two{
          width:350px;
        }
        }
      

@media(max-width:600px){
  .container-five{
    display:none;
   
  }
  .container-five-mobile{
    display:block;
  }
  
}
      

@media(max-width:600px){
  .six-flex-div{
    flex-direction: column;
   gap:15px;
    margin-bottom: 20px;
    padding-left: 20px;
    
  }
  .six-flex-one img{
    width:100px;
  }

  .six-flex-two p{
    margin: 10px 0 10px 0;
    font-size: 14px;
  }
  .color-six-white{
    font-size: 14px;
  }
  footer{
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 12px;
    
  }
  .six-flex-one,.six-flex-three{
    margin-top: 10px !important;
  }
  .fonts-six-div{
    gap:5px;
    flex-direction:row;
    align-items: center;
    justify-content: center;
  }
  .fonts-six{
    width:30px;
    height: 30px;
  }
  .fonts{
    font-size: 15px;
    top: 10px;
    left:8px;
  
  }
  .six-flex-three .color-six-white{
    font-size: 12px;
  }

}